$corFundoPrincipal: #F5F5F5;
$corFundoSecundaria: #131315;
$corFundoTerciaria: rgb(1, 28, 1);

$corNomeBoss: #00000011;


$corTitulo: #3f3451;
$corTitulo2: #ffff00e2;
$corTexto: #2C2C2C;
$corTextoSecundario: #E0E0E0;

$corBotao: #3f3451;
$corBotaoHover: #544966;